.nav-bar {
  background-color: transparent;
  position: absolute;
  top: 9vw;
  left: 0vw;
  z-index: 5;
  font-family: fredoka-one;
  font-size: 1.2vw;
}
.nav-hamburguesa {
  background-color: rgb(0, 12, 54);
}
.links-nav {
  font-size: 140%;
}
.p-navbar {
  color: #fff;
  padding: 0;
  margin: 0;
}
.p-navbar:hover {
  color: rgb(5, 217, 218);
}
.links-nav-hamb {
  font-size: large;
  /* padding: 0;
  margin: 0; */
}

#clase-empresas {
  background-color: rgb(0, 12, 54);
  font-size: 1.7vw;
  min-height: 180px;
  font-family: arial-rounded;
}
#conoce-mas {
  color: rgb(5, 217, 218);
  text-decoration: none;
}
.background-azul-oscuro {
  background-color: rgb(25, 27, 50);
}

.categoria-seleccionada {
  color: rgb(5, 217, 218);
  border-bottom: rgb(5, 217, 218) solid 3px;
  border-radius: 5px;
}
.categoria {
  color: #fff;
  font-size: 60%;

}

.colorsito-celeste {
  color: rgb(5, 217, 218);
}
.colorsito-amarillo {
  color: rgb(252, 192, 8);
}
.cuadro-blanco {
  width: 85%;
  aspect-ratio: 2/1;
  background-color: #fff;
}
.contenedor-novedades {
  aspect-ratio: 2/1;
}
.imagen-desplazada {
  position: relative;
  width: 100%;
  top: 10%;
  left: 4%;
}
.cartel-nuevo {
  position: relative;
  /* border: yellow solid 1px; */
  background-color: rgb(25, 27, 50);
  color: "#fff";
  width: 50%;
  aspect-ratio: 20/3;
  /* height: 75%; */
  padding: 0;
  margin: 0;
  z-index: 5;
  text-align: center;

  left: 60%;
  bottom: 70%;
  transform: rotate(-25deg);
  font-weight: bolder;
  /* font-size: 25px; */
}
.texto-nuevo {
  /* font-size: 200%; */
  margin: 0;
  padding: 0;
}
.lineaCeleste {
  height: 40px;
  border-left: 1px solid rgb(5, 217, 218);
}

.contenedor-novedades-derecho {
  width: 80%;
  height: 90%;
}
.display-flex {
  display: flex;
}
.img-docente {
  border: #fff 6px solid;
  border-radius: 1000px;
  width: 17vw;
  aspect-ratio: 1/1;
}
.card-docente {
  margin-top: 10%;
  border-radius: 10px;
  width: 100%;
  aspect-ratio: 5/2;
  font-size: 1.5vw;
}
.aspect-2-1 {
  aspect-ratio: 10/7;
}
.item-carousel-empresas{
  aspect-ratio: 12/1;
}
.item-carousel-empresas{
  aspect-ratio: 9/1;
}
.boton-carousel-next{
  background-color: red;
}

.carouselStaff{
  position: absolute;
  width: 100%;
}

/* @media (max-width: 434px) {
  #clase-empresas {
    font-size: 16px;
  }
  #clase-empresas {
    min-height: 250px;
  }
  .nav-bar {
    top: 98px;
  }
  .item-carousel-empresas{
    aspect-ratio: 9/1;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .contenedor-nav-hamb {
    display: none;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .nav-bar {
    top: 120px;
  }
  .contenedor-nav-hamb {
    display: none;
  }
}
@media (min-width: 1400px) {
  .nav-bar {
    top: 135px;
  }
  .contenedor-nav-hamb {
    display: none;
  }
} */
