*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: arial-rounded;
  src: url(./fuentes/ARLRDBD.TTF);
}
@font-face {
  font-family: aventa;
  src: url(./fuentes/AVENTA-LIGHTPERSONALUSEONLY.OTF);
}
@font-face {
  font-family: fredoka-one;
  src: url(./fuentes/FREDOKAONE-REGULAR.TTF);
}


.boton-celeste{
  color: #FFF;
  border: none;
  border-radius: 1000px;
  background-color: rgb(4, 218, 220);
  font-size: 20px;
}
.boton-celeste:hover{
  background-color: rgb(10, 226, 230);
}
.boton-celeste-transparente{
  color: rgb(4, 218, 220);
  border: 1px solid rgb(4, 218, 220);
  border-radius: 1000px;
  background-color: transparent;
  font-size: 20px;
}
.boton-celeste-transparente:hover{
  color: #FFF;
  background-color: rgb(4, 218, 220);
}
.cursor-pointer{
  cursor: pointer;
}
