*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.boton-celeste{
  color: #FFF;
  border: none;
  border-radius: 1000px;
  background-color: rgb(4, 218, 220);
  font-size: 20px;
}
.boton-celeste:hover{
  background-color: rgb(10, 226, 230);
}
.cursor-pointer{
  cursor: pointer;
}
