* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: arial-rounded; */
  /* font-size: 1.2vw; */
}

@font-face {
  font-family: arial-rounded;
  src: url(./fuentes/ARLRDBD.TTF);
}
@font-face {
  font-family: aventa;
  src: url(./fuentes/AVENTA-LIGHTPERSONALUSEONLY.OTF);
}
@font-face {
  font-family: fredoka-one;
  src: url(./fuentes/FREDOKAONE-REGULAR.TTF);
}

.arial-rounded {
  font-family: arial-rounded;
}
.aventa {
  font-family: aventa;
}

.boton-celeste {
  color: #fff;
  border: none;
  border-radius: 1000px;
  background-color: rgb(4, 218, 220);
  /* font-size: 20px; */
  font-family: arial-rounded;
  font-size: 120%;
}
.boton-celeste:hover {
  background-color: rgb(10, 226, 230);
}
.boton-celeste-cuadrado {
  color: #fff;
  border: none;
  border-radius: 4px;
  background-color: rgb(4, 218, 220);
  /* font-size: 20px; */
  font-family: arial-rounded;
  /* font-size: 120%; */
}
.boton-celeste-cuadrado:hover {
  background-color: rgb(10, 226, 230);
}

.boton-celeste-slider {
  color: #fff;
  border: none;
  border-radius: 1000px;
  background-color: rgb(4, 218, 220);
  /* font-size: 20px; */
  font-family: arial-rounded;
}
.boton-celeste-slider:hover {
  background-color: rgb(10, 226, 230);
}
.boton-celeste-transparente {
  color: rgb(4, 218, 220);
  border: 1px solid rgb(4, 218, 220);
  border-radius: 1000px;
  background-color: transparent;
  font-family: arial-rounded;
}
.boton-celeste-transparente:hover {
  color: #fff;
  background-color: rgb(4, 218, 220);
}
.cursor-pointer {
  cursor: pointer;
}
#seccion-footer{
  aspect-ratio: 4/1;
}

/* @media (max-width: 434px) {
  .boton-celeste {
    font-size: 10px;
  }
  .boton-celeste-slider {
    font-size: 7px;
  }
}
@media (min-width: 435px) and (max-width: 699px) {
  .boton-celeste {
    font-size: 12px;
  }
  .boton-celeste-slider {
    font-size: 10px;
  }
}
@media (min-width: 700px) and (max-width: 991px) {
  .boton-celeste {
    font-size: 15px;
  }
  .boton-celeste-slider {
    font-size: 12px;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .boton-celeste {
    font-size: 20px;
  }
  .boton-celeste-slider {
    font-size: 15px;
  }
}
@media (min-width: 1200px) {
  .boton-celeste {
    font-size: 22px;
  }
  .boton-celeste-slider {
    font-size: 18px;
  }
} */
